.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main_logo{
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
  padding-left: 20px;
}

.main_menu_header{
  margin: 0 !important;
}
