
.pl_login_form {
    max-width: 40vw;
    margin: 20px auto !important;
}

.login-container {
    margin-top: 0%;
}

.welcome {
    font-size: 4.2vw !important;
    color: white !important;
    text-shadow: white 0 0 10px;
    text-align: center !important;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 4.2vw !important;
}

.instruction {
    padding: 20px;
    font-size: 2.0vw !important;
    text-align: center !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2.0vw !important;
}

@media only screen and (max-width: 600px) {
  .pl_login_form {
      max-width: 100vw;
  }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}