.menu_card_parent {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1EEEE !important;
}
.menu_card {
  height: 400px !important;
  margin: 20px 5px!important;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.menu_sidebar {
  background: white !important;
  padding: 15px !important;
}

.minWidth {
max-width: calc(100% - 300px);
}

.btn_bottom_g{
  display: flex;
}
